In [2]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier , plot_tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.impute import SimpleImputer  

# Read the math placement data from the Excel file
df_math_placement = pd.read_excel('math_placement.xlsx')

# Read the edready raw scores data from the CSV file
df_ed_ready = pd.read_csv('edready_raw_scores.csv')

# Load the file of incoming students
#incoming_students = pd.read_csv('incoming_students.csv')will need to change to correct file name

In [8]:
df_cleaned = df_math_placement.copy()

# Define the mapping of grades to grade categories
grade_mapping = {
    "A": "Successful", "B": "Successful", "B+": "Successful",
    "A-": "Successful", "B*": "Successful", "A*": "Successful",
    "B+*": "Successful", "W": "Unsuccessful", "C-": "Unsuccessful",
    "F": "Unsuccessful", "B-": "Successful", "C+": "Unsuccessful",
    "D": "Unsuccessful", "D*": "Unsuccessful", "C": "Unsuccessful",
    "W*": "Unsuccessful", "P*": "Successful", "C+*": "Unsuccessful",
    "F*": "Unsuccessful", "D+": "Unsuccessful", "P": "Successful",
    "C*": "Unsuccessful", "A-*": "Successful", "I": "Unsuccessful",
    "AU": "Ignore", "B-*": "Successful", "D-": "Unsuccessful",
    "NR": "Ignore", "C-*": "Unsuccessful", "I*": "Unsuccessful",
    "NR*": "Ignore"
}

# Map the grades to their categories and append as a new column
df_cleaned['grade_category'] = df_cleaned['grade'].map(grade_mapping)


# Create a new column to store the PIDM, course number, and term as a single string
df_cleaned['PIDM_course_number_term'] = df_cleaned['PIDM'].astype(str) + '_' + df_cleaned['course_number'].astype(str) + '_' + df_cleaned['term'].astype(str)

# Remove duplicates based on the new column
df_cleaned = df_cleaned.drop_duplicates(subset='PIDM_course_number_term')

# Make sure the column names match in both dataframes before merging
df_cleaned.rename(columns={'pidm': 'PIDM'}, inplace=True)

# Display the cleaned and imputed dataframe
df_cleaned.head()

,Row,PIDM,term_code,admit_term,degree.x,major_code,college.x,major.x,stu_type,stu_level.x,...,course_number,section_number,subj_code,section_type,credit_levl,course_credits,reg_status,grade,grade_category,PIDM_course_number_term
0,1,41845,202250,202250.0,Master of Science,MATO,College of Letters & Science,Mathematics,N,GR,...,533,801,M,L,GR,3,RW,A,Successful,41845_533_202370
1,2,41845,202250,202250.0,Master of Science,MATO,College of Letters & Science,Mathematics,N,GR,...,518,801,M,L,GR,3,RE,A,Successful,41845_518_202250
2,3,41845,202250,202250.0,Master of Science,MATO,College of Letters & Science,Mathematics,N,GR,...,524,1,M,L,GR,3,RE,B,Successful,41845_524_202350
3,4,41845,202250,202250.0,Master of Science,MATO,College of Letters & Science,Mathematics,N,GR,...,520,1,M,L,GR,3,RE,A,Successful,41845_520_202250
4,5,41845,202250,202250.0,Master of Science,MATO,College of Letters & Science,Mathematics,N,GR,...,577,801,M,L,GR,3,RE,A,Successful,41845_577_202330

In [9]:

# Convert 'term' to a numeric type if it's not already, to ensure correct sorting
df_cleaned['term'] = pd.to_numeric(df_cleaned['term'])

# Find the oldest term for each PIDM
oldest_terms = df_cleaned.groupby('PIDM')['term'].min().reset_index()

# Merge the oldest terms back to the original DataFrame to filter records
df_oldest = pd.merge(df_cleaned, oldest_terms, on=['PIDM', 'term'], how='inner')

# Now, df_oldest contains only the records of the oldest term for each PIDM,
# including cases where there are multiple records for a PIDM within that oldest term

# Optionally, sort by PIDM and term if needed
df_oldest.sort_values(by=['PIDM', 'term'], ascending=[True, True], inplace=True)

# Show the updated DataFrame
df_oldest.head()

,Row,PIDM,term_code,admit_term,degree.x,major_code,college.x,major.x,stu_type,stu_level.x,...,course_number,section_number,subj_code,section_type,credit_levl,course_credits,reg_status,grade,grade_category,PIDM_course_number_term
0,2,41845,202250,202250.0,Master of Science,MATO,College of Letters & Science,Mathematics,N,GR,...,518,801,M,L,GR,3,RE,A,Successful,41845_518_202250
1,4,41845,202250,202250.0,Master of Science,MATO,College of Letters & Science,Mathematics,N,GR,...,520,1,M,L,GR,3,RE,A,Successful,41845_520_202250
2,29,149852,202070,202070.0,Associate of Arts,AA,Gallatin College,Associate of Arts,T,UG,...,090,922,M,L,UG,4,RE,B*,Successful,149852_090_202270
3,30,149852,202070,202070.0,Associate of Arts,AA,Gallatin College,Associate of Arts,T,UG,...,063,922,M,L,UG,1,RE,A*,Successful,149852_063_202270
4,35,210982,202230,202230.0,Bachelor of Science,NURS,College of Nursing,Nursing,T,UG,...,216Q,2,STAT,L,UG,3,RW,B,Successful,210982_216Q_202170

In [12]:
# Trim whitespace from headers
df_oldest.columns = df_oldest.columns.str.strip()
df_ed_ready.columns = df_ed_ready.columns.str.strip()

# Merge the two dataframes based on the PIDM
df_merged = pd.merge(df_oldest, df_ed_ready[['PIDM', 'ERM_SCORE']], on='PIDM', how='left')

# Display the merged dataframe
df_merged.head()

,Row,PIDM,term_code,admit_term,degree.x,major_code,college.x,major.x,stu_type,stu_level.x,...,section_number,subj_code,section_type,credit_levl,course_credits,reg_status,grade,grade_category,PIDM_course_number_term,ERM_SCORE
0,2,41845,202250,202250.0,Master of Science,MATO,College of Letters & Science,Mathematics,N,GR,...,801,M,L,GR,3,RE,A,Successful,41845_518_202250,NaN
1,4,41845,202250,202250.0,Master of Science,MATO,College of Letters & Science,Mathematics,N,GR,...,1,M,L,GR,3,RE,A,Successful,41845_520_202250,NaN
2,29,149852,202070,202070.0,Associate of Arts,AA,Gallatin College,Associate of Arts,T,UG,...,922,M,L,UG,4,RE,B*,Successful,149852_090_202270,10.0
3,30,149852,202070,202070.0,Associate of Arts,AA,Gallatin College,Associate of Arts,T,UG,...,922,M,L,UG,1,RE,A*,Successful,149852_063_202270,10.0
4,35,210982,202230,202230.0,Bachelor of Science,NURS,College of Nursing,Nursing,T,UG,...,2,STAT,L,UG,3,RW,B,Successful,210982_216Q_202170,NaN

In [13]:
# Count the number of rows in the merged dataframe
num_rows = df_merged.shape[0]
print(f"Number of rows in df_merged: {num_rows}")

Number of rows in df_merged: 17180

In [14]:

# Count the occurrences of each grade category
grade_counts = df_merged['grade_category'].value_counts()

# Display the count of each grade category
print(grade_counts)

grade_category
Successful      10124
Unsuccessful     6977
Ignore             65
Name: count, dtype: int64

## Model 1: Logistic Regression Model - ERM Score & High School GPA as Predictor Variables & Grade Category as Target Variable

In [24]:
# Drop NaN values from the 'hs_gpa' and 'ERM_SCORE' columns
df_merged.dropna(subset=['hs_gpa', 'ERM_SCORE'], inplace=True)

# Define individual courses and their combinations
included_courses = [
    '088', '105Q', '090', '216Q', '132', '121Q', '161Q', '151Q', '165Q', '171Q'
]
course_combinations = {
    'Combo1': ('005', '105Q'),
    'Combo2': ('063', '090'),
    'Combo3': ('021', '121Q')
}

# Combine individual courses with combination labels for iteration
included_courses += list(course_combinations.keys())

# Preparing to filter DataFrame based on course combinations or individual courses
def filter_df(df, course_key):
    if course_key in course_combinations:
        return df[df['course_number'].isin(course_combinations[course_key])]
    return df[df['course_number'] == course_key]

# Initialize model storage
models = {}

for course_key in included_courses:
    df_filtered = filter_df(df_merged, course_key)
    if df_filtered.empty:
        print(f"No data for {course_key}")
        continue

    X = df_filtered[['hs_gpa', 'ERM_SCORE']]
    y = df_filtered['grade_category']

    label_encoder = LabelEncoder()
    y_encoded = label_encoder.fit_transform(y)

    X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, test_size=0.20, random_state=42)

    log_reg = LogisticRegression(max_iter=1000)
    log_reg.fit(X_train, y_train)

    y_pred = log_reg.predict(X_test)

    # Handling mismatch in class sizes for the classification report
    unique_y_test = set(y_test)
    unique_y_pred = set(y_pred)
    unique_classes = unique_y_test.union(unique_y_pred)
    target_names = label_encoder.inverse_transform(list(unique_classes))

    print(f'Course/Combo: {course_key}')
    print(f'Accuracy: {accuracy_score(y_test, y_pred):.2f}')
    print(classification_report(y_test, y_pred, labels=list(unique_classes), target_names=target_names, zero_division=1))
    print("--------------------\n")

    # Store the trained model
    models[course_key] = log_reg

Course/Combo: 088
Accuracy: 0.36
              precision    recall  f1-score   support

  Successful       0.17      0.20      0.18         5
Unsuccessful       0.50      0.44      0.47         9

    accuracy                           0.36        14
   macro avg       0.33      0.32      0.33        14
weighted avg       0.38      0.36      0.37        14

--------------------

Course/Combo: 105Q
Accuracy: 0.60
              precision    recall  f1-score   support

  Successful       0.59      0.77      0.67        30
Unsuccessful       0.63      0.43      0.51        28

    accuracy                           0.60        58
   macro avg       0.61      0.60      0.59        58
weighted avg       0.61      0.60      0.59        58

--------------------

Course/Combo: 090
Accuracy: 0.69
              precision    recall  f1-score   support

  Successful       0.73      0.71      0.72        93
Unsuccessful       0.63      0.66      0.64        70

    accuracy                           0.69       163
   macro avg       0.68      0.68      0.68       163
weighted avg       0.69      0.69      0.69       163

--------------------

Course/Combo: 216Q
Accuracy: 0.70
              precision    recall  f1-score   support

  Successful       0.63      0.73      0.68        30
Unsuccessful       0.78      0.68      0.73        41

    accuracy                           0.70        71
   macro avg       0.70      0.71      0.70        71
weighted avg       0.71      0.70      0.71        71

--------------------

Course/Combo: 132
Accuracy: 0.69
              precision    recall  f1-score   support

  Successful       0.69      1.00      0.82         9
Unsuccessful       1.00      0.00      0.00         4

    accuracy                           0.69        13
   macro avg       0.85      0.50      0.41        13
weighted avg       0.79      0.69      0.57        13

--------------------

Course/Combo: 121Q
Accuracy: 0.70
              precision    recall  f1-score   support

      Ignore       1.00      0.00      0.00         1
  Successful       0.67      0.63      0.65       154
Unsuccessful       0.73      0.77      0.74       200

    accuracy                           0.70       355
   macro avg       0.80      0.46      0.47       355
weighted avg       0.70      0.70      0.70       355

--------------------

Course/Combo: 161Q
Accuracy: 0.73
              precision    recall  f1-score   support

  Successful       0.71      0.88      0.79        51
Unsuccessful       0.76      0.51      0.61        37

    accuracy                           0.73        88
   macro avg       0.74      0.70      0.70        88
weighted avg       0.73      0.73      0.72        88

--------------------

Course/Combo: 151Q
Accuracy: 0.68
              precision    recall  f1-score   support

  Successful       0.70      0.87      0.77        85
Unsuccessful       0.59      0.33      0.43        48

    accuracy                           0.68       133
   macro avg       0.65      0.60      0.60       133
weighted avg       0.66      0.68      0.65       133

--------------------

Course/Combo: 165Q
Accuracy: 0.67
              precision    recall  f1-score   support

  Successful       1.00      0.00      0.00         1
Unsuccessful       0.67      1.00      0.80         2

    accuracy                           0.67         3
   macro avg       0.83      0.50      0.40         3
weighted avg       0.78      0.67      0.53         3

--------------------

Course/Combo: 171Q
Accuracy: 0.75
              precision    recall  f1-score   support

  Successful       0.72      0.97      0.82        29
Unsuccessful       0.89      0.42      0.57        19

    accuracy                           0.75        48
   macro avg       0.80      0.69      0.70        48
weighted avg       0.79      0.75      0.72        48

--------------------

Course/Combo: Combo1
Accuracy: 0.70
              precision    recall  f1-score   support

  Successful       0.71      0.86      0.78        51
Unsuccessful       0.65      0.42      0.51        31

    accuracy                           0.70        82
   macro avg       0.68      0.64      0.64        82
weighted avg       0.69      0.70      0.68        82

--------------------

Course/Combo: Combo2
Accuracy: 0.70
              precision    recall  f1-score   support

      Ignore       1.00      0.00      0.00         1
  Successful       0.70      0.85      0.76       124
Unsuccessful       0.72      0.53      0.61        98

    accuracy                           0.70       223
   macro avg       0.81      0.46      0.46       223
weighted avg       0.71      0.70      0.69       223

--------------------

Course/Combo: Combo3
Accuracy: 0.66
              precision    recall  f1-score   support

  Successful       0.61      0.61      0.61       202
Unsuccessful       0.69      0.69      0.69       252

    accuracy                           0.66       454
   macro avg       0.65      0.65      0.65       454
weighted avg       0.66      0.66      0.66       454

--------------------

In [38]:

# Removing rows with NA in 'hs_gpa' or 'ERM_SCORE' columns before any processing
df_merged.dropna(subset=['hs_gpa', 'ERM_SCORE'], inplace=True)

# Prepare the incoming_students DataFrame by explicitly creating it or filtering df_merged
incoming_students = df_merged.copy()

# Define the list of courses, including combinations as tuples
included_courses = ['088', '105Q', '090', '216Q', '132', '121Q', '161Q', '151Q', '165Q', '171Q', ('005', '105Q'), ('063', '090'), ('021', '121Q')]

# Initialize a dictionary to store each course's LabelEncoder and model
model_info = {}

for course in included_courses:
    # Filter the DataFrame for the current course or combination
    if isinstance(course, tuple):
        df_filtered = df_merged[df_merged['course_number'].isin(course)]
    else:
        df_filtered = df_merged[df_merged['course_number'] == course]

    # Continue only if there are records after filtering
    if not df_filtered.empty:
        X = df_filtered[['hs_gpa', 'ERM_SCORE']]
        y = df_filtered['grade_category']

        # Encoding the target variable for the current course
        label_encoder = LabelEncoder()
        y_encoded = label_encoder.fit_transform(y)

        # Train the logistic regression model
        log_reg = LogisticRegression(max_iter=1000)
        log_reg.fit(X, y_encoded)

        # Store the trained model and its label encoder in the dictionary
        model_info[course] = {'model': log_reg, 'encoder': label_encoder}

# Placeholder DataFrame for storing predictions
predictions = pd.DataFrame(index=incoming_students.index)

# Iterating over the models to predict outcomes for incoming students
for course, info in model_info.items():
    model = info['model']
    encoder = info['encoder']

    # Predicting with the model
    pred_encoded = model.predict(incoming_students[['hs_gpa', 'ERM_SCORE']])
    
    # Inversely transforming encoded predictions into original labels
    pred_decoded = encoder.inverse_transform(pred_encoded)
    
    # Storing predictions in the DataFrame under the course name or combination
    predictions[course if isinstance(course, str) else '&'.join(course)] = pred_decoded

# Defining a function to determine the highest-level course for which a student is predicted to be successful
def determine_highest_level(row):
    # Example logic for determining the highest-level course
    # You may need to adapt this based on your course hierarchy and success criteria
    for course in reversed(included_courses):
        if row.get(course if isinstance(course, str) else '&'.join(course)) == 'Successful':
            return course if isinstance(course, str) else '&'.join(course)
    return 'None'

output_file = 'Predictions.csv'

# Join df_merged with predictions
df_merged_with_predictions = df_merged.join(predictions)

# Save the merged dataframe to a CSV file
df_merged_with_predictions.to_csv(output_file, index=False)

print(f"Predictions saved to '{output_file}'.")

Predictions saved to 'Predictions.csv'.

## Model 2: Logistic Regression Model - ERM Score as Predictor Variable & Grade Category as Target Variable

In [ ]:
# Filter out 'Ignore' grade_category
df_filtered = df_merged[df_merged['grade_category'] != 'Ignore']

# Prepare the data
X = df_filtered[['ERM_SCORE']]
y = df_filtered['grade_category']

# Ensure no NaN values in predictors
X = X.dropna()

# Since 'grade_category' is categorical, we need to encode it
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y.loc[X.index])  # Ensure alignment with X after dropping NaN

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, test_size=0.30, random_state=42)

# Train a logistic regression model
log_reg = LogisticRegression(max_iter=1000)  # Increase max_iter if convergence warning
log_reg.fit(X_train, y_train)

# Predict and evaluate the model
y_pred = log_reg.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Convert label names to strings to avoid TypeError
target_names_str = [str(cls) for cls in label_encoder.classes_]
print(classification_report(y_test, y_pred, target_names=target_names_str))

num_rows = df_filtered.shape[0]
print(classification_report(y_test, y_pred, target_names=target_names_str, zero_division=0))

## Model 3: Random Forest

In [ ]:
# Drop rows with NaN values in either 'hs_gpa' or 'ERM_SCORE' columns
df_filtered_clean = df_filtered.dropna(subset=['hs_gpa', 'ERM_SCORE'])

# Now prepare your predictors (X) and target (y) using the cleaned DataFrame
X = df_filtered_clean[['hs_gpa', 'ERM_SCORE']]
y = df_filtered_clean['grade_category']

# Training and testing split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a decision tree classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Predict the target
y_pred = clf.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")
print(classification_report(y_test, y_pred))

## Model 4:  Decision Tree

In [ ]:
# Making a copy of the dataframe to avoid SettingWithCopyWarning
df_merged_cleaned = df_merged_cleaned.copy()

# Ensure no NaN values in predictors
X = X.dropna()

# Encode the target variable 'course_number'
course_number_encoder = LabelEncoder()
df_merged_cleaned['course_number_encoded'] = course_number_encoder.fit_transform(df_merged_cleaned['course_number'])

# Predictors
X = df_merged_cleaned[['hs_gpa', 'ERM_SCORE']]

# Target variable is'course_number_encoded'
y_course_number = df_merged_cleaned['course_number_encoded']

# Split the data into training and testing sets
X_train, X_test, y_train_course_number, y_test_course_number = train_test_split(X, y_course_number, test_size=0.3, random_state=42)

# Initialize the DecisionTreeClassifier with parameters to control tree complexity
clf_course_number = DecisionTreeClassifier(
    max_depth=5,               # Limit the depth of the tree
    min_samples_split=40,      # Require at least 40 samples to split a node
    min_samples_leaf=20,       # Each leaf node must contain at least 20 samples
    max_leaf_nodes=15,         # Limit the total number of leaf nodes
    random_state=42
)
# Fit the classifier to the training data
clf_course_number.fit(X_train, y_train_course_number)

# Predict on the test data
y_pred_course_number = clf_course_number.predict(X_test)

In [ ]:
# Decode the predicted course numbers back to the original encoding
predicted_courses = course_number_encoder.inverse_transform(y_pred_course_number)

# Add the predicted courses to your test DataFrame
X_test.loc[:, 'predicted_course_number'] = predicted_courses

# Join the original 'grade_category' to the test DataFrame for evaluation
X_test = X_test.join(df_merged_cleaned['grade_category'], how='left')

# Evaluate the success by checking the grade_category of the predicted placements
successful_placements = X_test[X_test['grade_category'] == 'Successful']
success_rate = len(successful_placements) / len(X_test)
print(f'Success rate of placements: {success_rate:.2f}')

In [ ]:
#Clean the data
df_filtered_clean = df_filtered.dropna(subset=['ERM_SCORE', 'hs_gpa'])


#Filter out classes with only one instance
class_counts = df_merged_cleaned['course_number'].value_counts()
df_filtered = df_merged_cleaned[df_merged_cleaned['course_number'].isin(class_counts[class_counts > 1].index)].copy()

#Encode the target variable
course_number_encoder = LabelEncoder()
df_filtered['course_number_encoded'] = course_number_encoder.fit_transform(df_filtered['course_number'])

#Prepare the data
X = df_filtered_clean[['ERM_SCORE', 'hs_gpa']]
y = df_filtered_clean['course_number_encoded'] 

# Ensure no NaN values in predictors
X = X.dropna()

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)

# Continue with initializing and fitting your XGBoost classifier
xgb_model_course_number = xgb.XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
xgb_model_course_number.fit(X_train, y_train)

# Predict on the test data
y_pred_course_number = xgb_model_course_number.predict(X_test)

# Decode the predicted course numbers back to the original course numbers for interpretability
predicted_course_numbers = course_number_encoder.inverse_transform(y_pred_course_number)

# Evaluate the predictions
accuracy = accuracy_score(y_test, y_pred_course_number)  # This comparison should now be valid
print(f'Accuracy of the XGBoost model for course number prediction: {accuracy:.2f}')